#noteOder{
    margin-left: 2rem;
    label{
        padding-top: 1.3rem;
    }
    textarea{
        margin-top: 1rem;
        min-height: 2.5rem;
        max-height: 5rem;
        padding: 5px;
        outline: none;
        margin-left: 1rem;
        border: 1px solid rgb(209, 208, 207);
    }
   
}