
.box_cart{
  padding-top: 10rem;
  .body {
    padding: 0 2rem;
    width: 100%;
    background-color: #F5F5F5;
    .ant-tabs{
      width: 98%;
      border-radius: 3px;
      border: 1px solid rgb(212, 211, 211);
      background-color: white;
      margin-left: 1rem;
      height: 4rem;
      padding-left: 1rem;
      
    }
    .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #EE4D2D;
    }
    .ant-tabs-tab-btn:hover{
      color: #EE4D2Ded;
  
    }
    .ant-tabs-top >.ant-tabs-nav .ant-tabs-ink-bar{
      background-color: #EE4D2D;
    }
    input[type= "checkbox"]{
      width: 1.2rem;
      height: 1.2rem;  
    }
    .colum-1{
      padding: 0.8rem;
      height: 3rem;
      background-color: #FFFEFB;
      border: 1px solid #F3DD9E;
      p{
        padding-left: 1rem;
      }
    }
    .body-title {
      height: 3rem;
      padding: 1rem 0 0 2rem;
      color: gray;
      margin-top: 1rem;
      background-color: white;
    }
    .list-products {
      width: 100%;
      overflow-y: scroll;
      max-height: 23rem;
     
      .item-product{
        border-bottom: 2px solid #F3F3F3;
        padding: 1rem;
      
        .store-name{
          border-bottom: 2px solid #F3F3F3;
          padding-bottom: 1rem;
        }
        .product-infor{
          margin-top: 1rem;
          input[type= "checkbox"]{
            margin-top: 2rem;
            margin-right: 1rem;
          }
          .product{
            .product-name{
              width: 16rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              -webkit-line-clamp: 2; /* Số dòng bạn muốn hiển thị */
              line-height: 1.2; /* Điều chỉnh độ cao của dòng */
              height: 3.3em; /* Số dòng x độ cao của mỗi dòng */
              margin-bottom: 1rem;
              font-size: 1.1rem;
            }
            p{
              padding-top: 1rem;
              padding-left: 0.5rem;
            }
            select{
              outline: none;
              border: none;
              color: gray;
  
            }
           
          }
          .price-info{
            p{
              margin-right: 0.5rem;
            }
          }
         
          .quantity{
            input{
              border: 1px solid  #d5d2d2;
              background-color: white;
            }
            input[type= "button"]{
              width: 2rem;
            }
            input[type= "number"]{
              width: 3.5rem;
              padding-left: 1rem;
            }
          }
          .total-price{
            p{
              padding-left: 1rem;
            }
          }
          .remove-item{
            cursor: pointer;
            padding-left: 2rem;
          }
          .remove-item:hover{
           color: red;
          }
          
        }
      }
      
    }
    :where(.css-dev-only-do-not-override-11xg00t).ant-space-gap-col-small{
      margin-left: 76%;
      color: #EE4D2D;
    }
    .ant-space-item{
      width: 20rem;
    }
    :where(.css-dev-only-do-not-override-11xg00t).ant-select-single{
      width: 20rem !important;
    }
    .ant-select-selector{
      border: none;
    }
    :where(.css-dev-only-do-not-override-11xg00t).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
      border: 1px solid white;
    }
    .ant-select-selection-item{
      color: #EE4D2D
    }
    .ant-select-arrow{
      color: #EE4D2D
    }
    @import '_discountcode.scss';
    .colum-4{
      padding-left: 1rem;
      button{
        border: none ;
        width: 15rem;
        height: 4rem;
        background-color: #EE4D2D;
        color: white;
      }
      button:hover{
        background-color: #ee5e41;
      }
    }
  }
}

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
 background-color: #A3A6A9;
 border-radius: 5px;
}
.text-center {
  text-align: center;
}
.img-no-order{
  width: 100%;
  height: 100vh;
  background-color: white;
  img{
    width: 13rem;
    height: 12rem;
    margin-left: 45%;
    margin-top: 15%;
  }
}
@media only screen and (min-width: 1024px) {
  
}
