@import "/public/sass/scssCtsp/varibal";
#header{
    position: relative;
    height: 6rem;
    background-color: white !important;
    .title{
        img{
            width: 14rem;
            height: 5rem;
            margin-top: 0.5rem;
            margin-left: 1rem;
        }
        p{
            font-size: 2rem;
            padding-top: 1.6rem;
            padding-left: 1rem;
        }
    }
    .help{
        padding-top: 2rem;
        color: $redColor;
    }
    
}
