footer{
    a{
    }
    font-size: 1rem;
    padding-top: 2rem;
    .gach{
        height: 0.3rem;
        background-color: #EE4D2D;
    }
    .sections{
        padding: 2rem;
        .section{
            margin-top: 1rem;
            h6{
                font-weight: bold;
            }
            p,li{
                a{
                    color: black;
                    text-decoration: underline;
                }
            }
        }
    }
}