@import '_varibal';
@mixin highlight {
    width: auto;
            cursor: pointer;
            padding: 0.6rem;
            margin-right: 1rem;
            border: 1px solid $boder;
            background-color: white;
            position: relative;
            .highlight{
                position: absolute;
                width: 1rem;
                height:1rem;
                right: -14px;
                top:2.1rem;
                border-top-left-radius: 100%;
                padding: 0;
                background-color: red;
                i{
                    top:0.2rem;
                    left: 0.3rem;
                    position: absolute;
                    margin-top: 0px;
                    font-size: 0.5rem;
                    color: white;
                }
            }
  }
.infor-detail-product{
    margin-top: 1rem;
    .insurance-text {
        position: relative;
        p:last-child{
            margin-left: 2.7rem;
        }
        p:nth-child(2){
            padding: 0.1rem;
            position: absolute;
            left: 9.2rem;
            bottom: 0.1rem;
            color: white;
            background-color: $redColor;
            border-top-left-radius: 3rem;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }
    .transport{
        margin-top: 1rem;
        .transport-text{
            span{
                margin-left: 1rem;
            }
            .fa-shuttle-van{
               color: #f4cfc0;
            }
            .phi-vc{
                p:last-child{
                    cursor: pointer;
                    margin-left: 1rem;
                    span{
                        margin-left: 0;
                    }
                }
                p:last-child:hover{
                    color: $redColor;
                }
            }
            
            .shippingFee {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 1rem; 
                z-index: 9;
                padding: 1rem;
                background-color: white;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                cursor: context-menu;
                .shippingfee {
                  background-color: #fff;
                  border-radius: 5px;
                  padding: 1rem;
                  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                  transition: transform 0.3s ease, box-shadow 0.3s ease;
                    .shippingfee__type{
                        font-weight: 500;
                    } .shippingfee__fee{
                       color: red;
                    }
                  &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
                  }
              
                  &__header {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #333;
                    margin-bottom: 0.5rem;
                  }
              
                  &__content {
                    font-size: 1rem;
                    color: #666;
                    line-height: 1.5;
                  }
                }
              }
              
            .fa-less-than{
                cursor: pointer;
            }
        }
        .addres-transport{
            z-index: 100;
            background-color: white;
            position: fixed;
            border: 1px solid $boder;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40rem;
            height: 18rem;
            padding: 1rem;
            .addres-transport-header{
                width: 100%;
                height: 3rem;
                font-size: 1.2rem;
                border-bottom: 1px solid $boder;
            }
            .search-addres{
                input {
                    width: 25rem;
                    padding-left: 1rem;
                    margin-right: 1rem;
                    outline: none;
                    height: 3.5rem;
                    font-size: 1rem;
                    border: 1px solid $boder;
                }
                .Used{
                    color: white;
                    font-size: 1.2rem;
                    padding: 0.8rem 1rem 0.8rem 1rem;
                }
                .no-drop{
                    cursor: no-drop;
                }
                .pointer-cursor{
                    cursor: pointer;
                }
            }
        }
    }
   
    .color{
        padding-top: 1rem;
        p{
            padding-top: 0.5rem;
        }
        .color-list div{
            margin-bottom: 1rem;
            @include highlight;
        }
       
    }
    .size{
        margin-top: 1rem;
        padding-bottom: 1rem;
        p{
            padding-top: 0.5rem;
        }
        .size-text{
            div{
                @include highlight;
                padding: 0.6rem 1.5rem 0.6rem 1.5rem;
            }
        }
    }
    .number{
        margin-top: 1rem;
        p{
            padding-top: 1rem;
        }
        .number-text {
            .disabled {
                opacity: 0.5; 
                pointer-events: none; 
            }
            button{
                width: 3rem;
                background-color: #FAFAFA;
                border: 1px solid $boder;
            }
            input{
                width: 5rem;
                padding-left: 2rem;
                border: 1px solid $boder;
            }
            p{
                padding-top: 1rem;
                margin-left: 1rem;
            }
        }
    }
    .cart{
        margin-top: 2rem;
        p{
            background-color: #FFF5F1;
            cursor: pointer;
            margin-right: 1rem;
            border: 1px solid;
            border-radius: 0.3rem;
            color: $redColor;
            i{
                font-size: 1.3rem;
                padding-right: 1rem;
            }
        }
        p:hover{
            background-color: #f4cfc0;
        }
        .cart-insert{
            p{
                padding: 0.2rem 2.5rem 1rem 2.5rem;
            }
            i{
                color: red;
            }
        }
        .mua{
            p{
                padding: 1rem 2.5rem 1rem 2.5rem;
                background-color: #EE4D2D;
                color: white;
            }
        }
        
    }
    .fa-less-than{
        font-size: 0.7rem;
    
    }
} 

.button-clicked ,.size-clicked{
    border: 1px solid rgb(245, 150, 150) !important;
    color: $redColor !important;
    color: black;
}
.enabled{
    pointer-events: none;
    opacity: 0.5; 
}
@media (min-width:1080px) { 
   .infor-detail-product{
        font-size: 1.1rem;
        .insurance-text {
            p:last-child{
                margin-left: 4rem;
            }
            p:nth-child(2){
                left: 11rem;
            }
        }
   }
 }
