.chat-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 30rem;
  border: 1px solid rgb(255, 255, 255);
  overflow-y: scroll;
  border-radius: 30px 10px 30px 10px;
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .message {
      max-width: 70%;
      padding: 10px;
      margin: 5px 0;
      border-radius: 10px;
      position: relative;

      img {
        max-width: 100%; // Ảnh sẽ chiếm hết không gian có sẵn
        border-radius: 10px;
      }

      .timestamp-hidden {
        display: none;
        position: absolute;
        bottom: -20px;
        background-color: white;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .timestamp-hidden.self {
        right: 10px;
      }

      .timestamp-hidden.server {
        left: 10px;
      }

      &:hover {
        // Khi di chuột vào tin nhắn, hiện thị timestamp
        .timestamp-hidden {
          display: block;
        }
      }
    }

    .message.user {
      align-self: flex-end;
      background-color:#D7F7EF;

    }
    .message.admin {
      align-self: flex-start;
      background-color: white;
    }

    .timestamp {
      font-size: 0.75em;
      color: gray;
      position: absolute;
      bottom: -15px;
      right: 10px;
    }
  }

  .input-container {
    padding: 10px;
    border-top: 1px solid #ccc;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 10px 20px;
      margin-left: 80%;
      border: none;
      border-radius: 5px;
      margin-top: 1rem;
      background-color: #007bff;
      color: white;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  }
}
