.chat-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 30rem;
  border: 1px solid rgb(255, 255, 255);
  overflow-y: scroll;
  border-radius: 30px 10px 30px 10px;
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .message {
      max-width: 70%;
      padding: 10px;
      margin: 5px 0;
      border-radius: 10px;
      position: relative;

      img {
        max-width: 100%; // Ảnh sẽ chiếm hết không gian có sẵn
        border-radius: 10px;
      }

      .timestamp-hidden {
        display: none;
        position: absolute;
        bottom: -20px;
        background-color: white;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .timestamp-hidden.self {
        right: 10px;
      }

      .timestamp-hidden.server {
        left: 10px;
      }

      &:hover {
        // Khi di chuột vào tin nhắn, hiện thị timestamp
        .timestamp-hidden {
          display: block;
        }
      }
    }

    .message.user {
      align-self: flex-end;
      background-color:#D7F7EF;

    }
    .message.admin {
      align-self: flex-start;
      background-color: white;
    }

    .timestamp {
      font-size: 0.75em;
      color: gray;
      position: absolute;
      bottom: -15px;
      right: 10px;
    }
  }

  .input-container {
    padding: 10px;
    border-top: 1px solid #ccc;
    position: relative;
    label{
      i{
        font-size: 1.4rem;
        opacity: 0.7;
      }
      input{
        cursor: pointer;
        opacity: 0;
        width: 0;
        height: 0;
        left: 8px;
        position: absolute;
      }
    }
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    button {
      padding: 10px 20px;
      margin-left: 80%;
      border: none;
      border-radius: 5px;
      margin-top: 1rem;
      background-color: #F8492F;
      color: white;
      cursor: pointer;
    }

    button:hover {
      background-color: #f15c45;
    }
    .img-choese{
      width: 20rem;
      top: 6.4rem;
      position: absolute;
      height: 3.5rem;
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #e4e0e0;
      img{
        padding: 5px;
        width: 4rem;
        height: 100%;
      }
    }
  }
}
