@import '..//..//../styles//all.scss';
.infor-login{
    .infor-login-input{
        margin-top: -10px;
        position: relative;
        .Phone{
            i{
                position: absolute;
                right: 2rem;
                margin-top: 3rem;
                color: green;
            }
        }
    }
    .or-dk{
        width: 100%;
        height: 1rem;
        hr{
            margin-top: 2rem !important;
        }
        .or-dk-text{
            position: absolute;
            top: 13.5rem;
            left: 11rem;
            p{
                background-color: white;
                padding: 1rem;
                color: rgb(153, 157, 157);
            }
        }
    }
    
    .Angree{
        text-align: center;
        margin-top: 1rem;
        a{
            color: $redColor;
        }
    }
}
.dn-xt{
    cursor: pointer;
    .dnhap:hover{
        color: chocolate;
    }
    #xacthucOTP{
        width: 10rem;
       
        margin-left: 1.2rem;
        p{
            margin-bottom: 0;
        }
        i{
            margin-top: 0.2rem;
            margin-left: 1rem;
        }
        
    }
    #xacthucOTP:hover{
        color: chocolate;
    }
}

@media (min-width:1080px) { 
    .infor-login{
        .or-dk{
            .or-dk-text{
                top: 14.5rem;
            }
        }
        
        
    }
}