#container-cart{
  .body-title{
    padding-left: 3rem;
  }
  .body-product{
    .shop_voucher{
      width: 100%;
      height: 4rem;
      margin-top: 1rem;
      background-color: white;
     
      >div{
        padding: 1rem 1.3rem;
        img{
          width: 3rem;
          height: 2rem;
        }
        p{
          font-size: 1.2rem;
        }
      }
      >p{
        padding: 1rem 2rem;
        font-size: 1rem;
        color: #0056b3;
        cursor: pointer;
        padding-right: 3rem;
      }
    }
    .payment{
      width: 100%;
      background-color: white;
      margin-bottom: 1rem;
      .payment__header{
        height: 5rem;
        padding-top: 1.2rem;
        border-bottom: 1px solid #eee;
        p{
          padding-left: 1rem;
          font-size: 1.5rem;
        }
      }
      .payment__content{
        background-color: #FFFEFB;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 1.1rem;
        >div:first-child{
          border-bottom: 1px solid #eee;;
        }
        #price-order{
          width: 100%;
          padding-left: 65%;
         >div{
          position: relative;
          .price-order__text{
            position: absolute;
            right: 3.2rem;
          }
          .voucher{
            p{
              padding: 0rem 1rem;
              border: 2px dashed red;
              margin-right: 0.2rem;
            }
          }
         }
         >div:last-child{
            p:first-child{
              margin-top: 0.5rem;
            }
            p:last-child{
              font-size: 1.5rem;
              color: #e83516;
            }
         }
      }
      #btn-paymnet-order{
        width: 16rem;
        height: 2.5rem;
        border: 1px solid #ccc;
        color: white;
        background-color: #F94E2F;
        margin-top: 1rem;
        margin-left: 70%;
        height: 2.5rem;
        &:hover{
          background-color: #e72f0e;

        }
      }
       
      }
    }
    .list-products{
      background-color: white;
      height: auto;
    
      .product-infor{
        .product{
          .img{
            img{
              width: 80%;
              height: 90%;
            }
          }
          .product-name{
            width: 50%;
            margin-right: 2rem;
          }
        }
        .price-info{
          padding-left: 1rem;
        }
        .total-price{
          p{
            color: #F94E2F;
          }
        }
        
      }
  }
 
 }
 
}

.address-transport{
  width: 100%;
  height: 8rem;
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  background-color: white;
  margin-bottom: 1rem;
  div:first-child{
    position: absolute;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    background-position-x: -30px;
    background-size: 116px 3px;
    height: 3px;
    width: 100%
  }
  >p{
    font-size: 1.5rem;
    color: #F94E2F;
    i{
      margin-right: 1rem;
    }
  }
  div:last-child{
    >p{
      font-size: 1.2rem;
    }
    .model-add-address{
      position: absolute;
      top: 50%;
      right: 3.2rem;
      p{
        font-size: 1.1rem;
        color: rgb(10, 10, 200);
        cursor: pointer;
        &:hover{
          color: #F94E2F;
        }
      }
     
    }
  }
}
#model-address , #model-address-default{
    .modal-body{
      .address-users{
        display: flex;
        position: relative;

       .address-users__text{
          cursor: pointer;
          width: 80%;
          padding: 0.5rem 2rem;
          font-size: 1.1rem;
          >div{
            p:first-child{
              font-size: 1.2rem;
              font-weight: 500;
            }
            p{
              margin-right: 1rem;
            }
            p:last-child{
              margin-top: 0.2rem;
              color: gray;
            }
          }
          .address-users__address{
            color: gray;
          }
          .address-users__default{
            width: 8rem;
            color: #f43e1e;
            padding: 0.2rem 1.5rem;
            border: 1px solid #f43e1e;
          }
          &:hover{
            background-color: #F8F8F8;
          }
        }
        .address-users__onchange{
          cursor: pointer;
          color: #0a4079;
          margin-left: 1rem;
          &:hover{
            color: #e83516;
          }
        }
        input{
          position: absolute;
          top:0.2rem;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      form{
        .name-phone-address{
          justify-content: space-between;
          margin-bottom: 1rem;
          input{
            height: 3rem;
          }
        }
        #provinces-districts-towns{
          width: 100%;
          height: 3rem;
          border: 1px solid rgb(220, 212, 212);
          border-radius: 0.2rem;
          outline: none;
          position: relative;
          margin-bottom: 1rem;
          .no-click {
            pointer-events: none; 
            cursor: no-drop; 
          }
          .provinces-districts-towns__input{
            width: 100%;
            height: 100%;
            input{
              width: 100%;
              height: 100%;
              border-top: none;
              border-left: none;
              border-right: none;
            }
            i{
              color: black;
              margin: 1rem 1rem 1rem 1rem;
            }
          }
          .provinces-districts-towns__content{
            width: 100%;
            height: 17rem;
            border: 1px solid rgb(220, 212, 212);
            background-color: white;
            z-index: 111;
            position: absolute;
           .provinces-districts-towns__title{
            height: 3rem;
            >div{
              cursor: pointer;
              text-align: center;
              margin-top: 0.5rem;
              border: 0.5px solid #eee;
              &:hover{
                background-color: #f8f8f8;
              }
            }
            
           }
           .provinces-districts-towns__list{
            max-height: 11rem;
            overflow :auto;
            padding: 1rem;
            >p{
              margin-bottom: 0.5rem;
              padding: 0.5rem;
              cursor: pointer;
              &:hover{
                color: #f43e1e;
                background-color: #F8F8F8;
              }
            }
           }
          }
          // .slider{
          //   border: 1px solid #ccc;
          //     width: 100%;
          //     height: 1rem;
          //     .slider__item{
          //       position: relative;
          //       width: 0;
          //       height: 1rem;
          //       background-color: red;
          //       animation-name: slider_districts;
          //       animation-duration: 1s;
          //       animation-iteration-count: infinite;
          //       animation-timing-function: ease-in-out;
          //     }
          // }
          // @keyframes slider_provinces {
          //   from{
          //     width: 0%;
          //   }to{
          //     width: 30%;
          //   }
          // }
          // @keyframes slider_districts {
          //   from{
          //     width: 30%;
          //   }to{
          //     width: 60%;
          //   }
          // }
          
        }
        input{
          width: 100%;
          height: 5rem;
          border: 1px solid rgb(220, 212, 212);
          border-radius: 0.2rem;
          padding-left: 1rem;
          outline: none;
        }
        .action-address{
          margin-top: 1rem;
          padding-left: 50%;
          cursor: pointer;
          p{
            margin-right: 1rem;
          }
          p{
            padding: 0.5rem 3rem;
            border: 1px solid rgb(220, 212, 212);
          } 
          p:first-child:hover{
            background-color: rgb(244, 241, 241);
          }
          button{
            width: 10rem;
            height: 2.6rem;
            border: 1px solid rgb(220, 212, 212);
            color: white;
            background-color: #F94E2F;
            &:hover{
              background-color: #f43e1e;
            }
          }
        }
        .address-default{
          margin-top: 1rem;
          input{
            width: 1rem;
            height: 1rem;
            margin-top: 0.2rem;
            margin-right: 0.5rem;
          }
          label{
            margin-top: 0rem;
          }
        }
      }
      .add-address{
        cursor: pointer;
        width: 35%;
        height: 3rem;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        border: 1px solid rgb(220, 212, 212);
        font-size: 1.2rem;
        margin-bottom: 1rem;
        i{
          margin-right: 1rem;
          margin-top: 0.2rem;
        }
        &:hover{
          background-color: #f5f3f3;
        }
      }
    }
    .modal-footer{
      margin-top: 1rem;
      display: flex;
      cursor: pointer;
      p{
        margin-right: 1rem;
      }
      p{
        padding: 0.5rem 3rem;
        border: 1px solid rgb(220, 212, 212);
      } 
      p:first-child:hover{
        background-color: rgb(244, 241, 241);
      }
      p:last-child{
        padding: 0.5rem 3rem;
        border: 1px solid rgb(220, 212, 212);
        color: white;
        background-color: #F94E2F;
        &:hover{
          background-color: #f43e1e;
        }
      }
    }
    .disabled{
      pointer-events: none;
      cursor: not-allowed;
      background-color: #ccc;
      color: #999;
    }
}


  