#box_cartOder{
    .body-product {
        width: 99%;
        margin-left: 1%;
        margin-top: 1rem;
    }
    .list-products{
        margin-top: 1rem;
        background-color: white;
        .item-product{
            padding-left: 2rem;
        }
    }
    .quantity{
        input{
            color: gray;
        }
    }
    .total{
        width: 100%;
        height: 4.5rem;
        padding: 1rem 2rem;
        background-color: rgb(255, 255, 255);
        div:first-child{
            font-size: 1.2rem;
            p:first-child{
                margin-top: 0.3rem;
            }
            p:last-child{
                font-size: 1.5rem;
                color: rgb(236, 78, 42);
            }
        }
        button{
            width: 10rem;
            border: 1px solid #ccc;
            height: 2.5rem;
            background-color: rgb(241, 85, 50);
            color: white;
        }
    }
}