.profile-container {
    max-width: 900px;
    width: 900px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: absolute;
    top:10rem;
    left: 15%;
    padding: 20px;

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
        color: #666;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            width: calc(100% - 100px);
            padding: 8px;
            margin-right: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .change-link {
            color: #007bff;
            text-decoration: none;
            margin-left: 10px;
        }

        .change-link:hover {
            text-decoration: underline;
        }

        .gender-options {
            display: flex;
            gap: 10px;

            input[type="radio"] {
                margin-right: 5px;
            }

            label {
                margin-right: 20px;
            }
        }

        .birthdate {
            display: flex;
            gap: 10px;

            select {
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
        }
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .profile-image {
        margin-top: 20px;
        text-align: center;
        position: relative;
        .icon-camara{
            position: absolute;
            top:5rem;
            cursor: pointer;
            font-size: 1.5rem;
            left: 13rem;
            border-radius: 100%;
            padding: 5px;
            background-color: #D8DADF;
        }
        i{
           opacity: 0.5;
        }
        img {
            cursor: pointer;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            z-index: 1;
            padding: 2px;
            outline: 2px solid #eb8d7a;
            border: 1px solid #ddd;
        }

        .upload-btn {
            display: block;
            margin: 10px auto;
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .upload-btn:hover {
            background-color: #0056b3;
        }

        p {
            margin: 5px 0;
            color: #666;
        }
    }
}
